<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Logged in</title>
</head>
<body>
<h4>Successfully logged in user: {{ session['username'] }}</h4>
<form action="{{ url_for('log_out') }}" method="post">
    <input type="submit" name = "action" value="logout" />
</form>
To start tracking, remember to click on plugin icon after stackoverflow page opens.<br>
Preferably open in new tab: <a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">Go to Stackoverflow</a><br>
<h3>Login History</h3>
{% for logs in login_logs %}
    Login Time - {{ logs.timestamp }} <br>
{% endfor %}
<h2>Actions being logged and their justification:</h2>
<h5>User stars a question</h5>
Whenever user stars a question, the question's link and the fact that he has updated the star value and the star status of the question are stored.
This will definitely tell us explicitly about what kind of questions and topics the user is interested in.
Since, I store the URL of the question, I can later web scrape the topics of that question through that URL. This way
I can also have the topics or anything similar that can be extracted from that question's page.
<h5>User thumbs up or thumbs down a question or an answer</h5>
So I store the thumbs up and thumbs down interaction for a user on both question and answer.
I store the id of the question and answer so that I can return later to get more information if
needed.This feature is specially interesting to know because then, I can know multiple things about the user:
<ul>
    <li>The stackoverflow users that the user most likes or dislikes</li>
    <li>Whether he likes short answers or answers with bigger length</li>
    <li>Does he always like only accepted answers or does he read multiple answers and try them out</li>
</ul>
<h5> Time user spends on any Stackoverflow URL</h5>
This is one the implicit feedback of user that I capture. I store the URL and the time user spent on it.
My assumption here is that if a user stays on any webpage longer then other, then there is something of real interest to the user on that page.
So if I want the user's most favorite questions, topic, or other stackoverflow users, I can do so
by going through the URLs and the time spent there. So, for instance, if later on I make a adaptive
stackoverflow system, i can highlight the favorite topics, or favorite users of the logged in user
on the displayed stackoverflow page.

<h5>BookMarks</h5>
This is an explicit feedback by the user. So basically if the user bookmarks a page, be it topic,
other user, or a question's page on stackoverflow, we can definitely say it represents something
very important to user as people mostly bookmark important webpages. Also, sometimes people
bookmark things on the internet for fast access to those links, hence, when I make the adaptive
system I can display all the stackoverlfow bookmarks to user in a easily accessible place so they
don't have to worry about arranging bookmarks themselves. I can also classify bookmarks at the server
for creating a more organised directory without troubling the user.

<h5>Search Term</h5>
This fairly simple feature tells us explicitly the topics user is interested in directly without
having to do any later web scraping. Thus, these data can be used for some instant analysis.

<h5>BONUS: Time spent with mouseover each answer</h5>
This is again an implicit feedback. Now the user don't necessarily vote up or even star on
interesting questions/answers. Mostly they are in a hurry to just get their problem solved.
That is why i also track for how long the user's mouse stays over each answer in the webpage.
I basically store an object for each url user visits, that contains time spent on each answer
in that url. If a user visits the same url again, a new entry is created. But I can later sum
up these values over all the entries of a url to get the actual time user spends on answers.


</body>
</html>