<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Logged in</title>
</head>
<body>
<h4>Successfully logged in user: {{ session['username'] }}</h4>
To start tracking, remember to click on plugin icon after stackoverflow page opens.
<form action="{{ url_for('log_out') }}" method="post">
    <input type="submit" name = "action" value="logout" />
</form>
Preferably open in new tab: <a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">Go to Stackoverflow</a>
</body>
</html>